[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Sanic = "*"
graphene = "*"
asyncpg = "*"
"iso8601" = "*"
Sanic-GraphQL = "*"
graphql-core = ">=2.1rc0"

[dev-packages]
neovim = "*"
"flake8" = "*"
yapf = "*"
ipdb = "*"

[pipenv]
allow_prereleases = true
